// Body
$body-bg: #fdfdfd;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #AE2478;
$dark: #340a24;
$pink: #e6bdd6;
